Source: adaptation-miatoll
Maintainer: Marcel Alexandru Nitan
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://gitlab.com/miatoll-linux/droidian/adaptation-miatoll
Vcs-Git: https://gitlab.com/miatoll-linux/droidian/adaptation-miatoll.git

Package: adaptation-miatoll
Architecture: arm64
Depends: ${misc:Depends},
         lxc-android (>= 1:9),
         ofono-scripts,
         linux-bootimage-xiaomi-miatoll,
         adaptation-hybris-api29-phone,
         adaptation-miatoll-configs,
         droidatoll-sysfs-torch,
         callaudiod
Description: adapatation-miatoll- meta
 Miatoll api29 adaptation metapackage

Package: adaptation-miatoll-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Miatoll's specific adaptation configs
