#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-miatoll-configs --name=enable-ipa enable-ipa.service --no-start
	dh_installsystemd -padaptation-miatoll-configs --name=miatoll-postboot miatoll-postboot.service --no-start
